

@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Staatliches', cursive;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgba(153, 153, 153, 0.76);
    text-align: center;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #dfbe05;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: rgba(58, 52, 66, 0.801);
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}



/* .sidebar-all:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index: 0;
    
} */


#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    margin-right: 0;
    background: #a96dcc9d;
}

.sidebar-header .container-fluid {
    flex-grow: 0;
    
    margin-left: 50px;
}

#content-button-collapse{
    /* background-color: #a96dccd3; */
    padding: 2px;
    margin: 2px;
    max-width: 46px;
    max-height: 45px;
    border-radius: 10px;
    opacity: 0;
}

#content-button-collapse.active{
    opacity: 1;
}

#sidebar-button-container{
    background-color: #a96dccc9;
    padding: 2px;
    margin: 0;
    max-width: 46px;
    max-height: 45px;
    border-radius: 10px;
}



#header-bar{
    padding: 0;
    margin-left: 0;
    height: 45px;
    border-radius: 10px;
    flex-wrap: nowrap;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #dfbe05;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.3em;
    display: block;
}
#sidebar ul li a:hover {
    color: #a96dcc;
    background: rgb(117, 105, 133);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #a96dcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul.list-unstyled{
    font-family: 'Staatliches', cursive;
}

ul ul a {
    font-size: 0.8em !important;
    padding-left: 30px !important;
    background: #a96dcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    /* width: 100%; */
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    /* background-color: rgba(50, 45, 59, 0.432); */
}

.content-image::after{
    object-fit: cover;
}

#content-background-gradient::before{
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#191520,#2d1457b0);
    opacity: .8; 
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.content-background-image{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
    border-radius: 10px;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse.active span:first-of-type,
    #sidebarCollapse.active span:nth-of-type(2),
    #sidebarCollapse.active span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse span {
        margin: 0 auto;
    }
    #sidebarCollapsespan:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
    #content-button-collapse{
        background-color: #a96dcc00;
        padding:0px;
        margin-top: 0px;
        max-width: 46px;
        max-height: 45px;
        border-radius: 10px;
        opacity: 1;
    }
    
    #content-button-collapse.active{
        opacity: 0;
    }

    #header-bar{
        align-content: center;
    }

    #resume-top-text h2{
        text-align: center;
        padding: 0px;
        margin-top: 0px;
    }

    #resume-top-text h2.active{
        opacity: 0;
        margin-top: -100px;
    }
    #font-awesome {
        font-size: 20px;
        padding: 0;
        
        color: #a96dcc;
    }

}